.main_container_of_site{
 position: relative;
 width: 500px;   
 height: 500px;
 background: radial-gradient(circle, rgba(153,213,255,1) 0%, rgba(11,128,156,1) 100%);
 padding-top: 10vh;
 width: calc(100%);
 border-radius: 20px;
 box-shadow: var(--boxShadow);
 height: 88svh;
}
header {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
font-size: 0.5rem;
color: var(--surmeiTire);
}
header img{
    width: 200px;
}

.aboutDR_container{
    display:flex;
    align-items: center;
    position: absolute;
}
.aboutDR_DR_title,
.aboutUS_title{
    cursor: pointer;
    position: absolute;
    padding: 20px;
    box-shadow: var(--boxShadow);
    border-radius: 200px;
    text-align: center;
    background: var(--surmeiTire);
    color: var(--zardRoshan);
    z-index: 5;
    animation: circle 10s ease-in-out infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.aboutDR_DR_title img{
width: 50px;
}
.aboutDR_DR_title:hover + .aboutDR_DR_container,
.aboutUS_title:hover + .aboutUS_container{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;

}
.aboutDR_DR_container,
.aboutUS_container{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    position: absolute;
    width: 24rem;
    background-color: rgba(240, 248, 255, 0.548);
    text-align: center;
    border-radius: 100px;
    backdrop-filter: blur(3px);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--zardTire);
    right: -40px;
    top: 10rem;
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    text-shadow: 0 0 0 #fff, 0 0 5px #fff;
}
.aboutDR_DR_container{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top;
}

.aboutDR_DR_container img,
.aboutUS_container img{
    width: 100px;
    border-radius: 50%;
    box-shadow: var(--boxShadow);
}
.aboutDR_DR_container figcaption,
.aboutUS_container figcaption{
    font-size: 1rem;
    text-align:justify;
    text-wrap: wrap;
    line-height: 1.2rem;
    padding: 10px 10px 20px ;

}
@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-50%)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-50%)
                rotate(-360deg);
    }
  }
  
  