.container{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 100%;
height: 100%;
}

.options_part{
    display:  flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 13vh;
    margin-right: 500px;
}

.options_part p{
    color: var(--surmeiTire);
    text-shadow: 0px 0px 2px wheat;
    
}
.options_part img{
    width: 100px;
}
.admin_part:hover,
.enterance_site:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #fff,inset 0px 0px 10px #000000,inset 0px 0px 10px rgb(0, 0, 0);
    transition: 0.3s;
    animation:swing 1s ease-in;
    background-color: var(--ghahveiRoshan);
}
.admin_part ,
.enterance_site{
    margin: 10px;
    margin-top: -30px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 10px black,inset -5px -5px 10px black,inset 5px 5px 10px white ;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-decoration: none;
}
.answers {
    position: fixed;
    z-index: 1;
    margin-right: 245px;
    margin-bottom: 10px;
    bottom: 9.5vh;
    width: 100%;
    height: 130px;
}

.answers:hover{
    cursor: pointer;
}

.desktop_BG ,
.mobile_BG{
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}
.mobile_BG{
    display: none;
}

/* media queries */

@media (max-width: 780px){
    .container{
        height: 80vh;
        margin-top: 30px;
    }
    .desktop_BG{
        display:none;
    }
    .mobile_BG{
        display: block;
        position: fixed;
        z-index: 0;
        top: 0;
        right: 0;
        align-self: center;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }
    .container{
        display: flex;
    }
    .options_part{
        margin: 0px;
        flex-direction: column;
        margin-top: 40px;
    }
    .admin_part img,
    .enterance_site img{
        width: 50px;
        height: 50px;
        padding-inline: 40px;
        margin-left: -40px;
        border-radius: 50%;
    }
    .admin_part p,
    .enterance_site p{
        width: 50%;
        text-align: center;
        justify-content: center;
        font-size: 1.5em;
    }
    .admin_part ,
    .enterance_site{
    margin: 10px;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
}
/* animations */
@-webkit-keyframes swing {
    20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
    }
    @keyframes swing {
    20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
    }


    @-webkit-keyframes flash {
        0%, 50%, 100% {
        opacity: 1;
        }
        
        25%, 75% {
        opacity: 0.25;
        }
        }
        
        @keyframes flash {
        0%, 50%, 100% {
        opacity: 1;
        }
        
        25%, 75% {
        opacity: 0.2;
        }
        } 