
.mainContainer{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    height:calc(100vh - 20px);
    width: calc(90vw - 30px);
    background: url(../assets/images/mobile-answer-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    box-shadow: var(--boxShadow);
    position: relative;
    margin-inline: auto;

}
.inputsContainer {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
height: 60%;
width: calc(90vw - 50px);

margin-inline: auto;
}
.inputsContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    position:relative;
top: 30px;
bottom: 20px;
}

label{
font-size: 1.5rem;
font-weight: 900;
color: var(--surmeiTire);
text-shadow: 0px 0px 5px rgb(255, 255, 255);



}
input::placeholder{
    color: #6d6d6d;
    font-family: "Lalezar";
}
.inputsContainer form input{
padding: 10px;
width: calc(50vw);

border: none ;
box-shadow: 4px 4px 8px #000000,
inset 4px 4px 8px #ffffff,
-4px -4px 10px #ffffff,
inset -4px -4px 8px #000000;

border-radius: 10px;
box-sizing: border-box;
background: #cacaca9f;
}
form .inputError{
    animation-name: tada ;
    animation-duration: 1s;
    transition: all .2s;
    box-shadow: 0px 0px 8px #ff0000,
    inset 4px 4px 8px #ffffff,
    0px 0px 3px red,
    0px 0px 12px red,
    inset -4px -4px 8px #000000;
}
form .correctInput{
    box-shadow: 0px 0px 8px rgb(133, 133, 243),
    inset 4px 4px 8px #ffffff,
    0px 0px 3px rgb(133, 133, 243),
    0px 0px 12px rgb(133, 133, 243);    
    transition: all .2s;
}
form span{
    color: rgb(255, 0, 0);
    animation: shake 2s ease-in-out infinite;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 0px 7px black,0px 0px 3px #ffffff;
}
form button{
    justify-content: center;
    align-self: center;
    border-radius: 30px;
    height: 40px;
    cursor: pointer;
   font-size: 1.2rem;
   margin: 5px ;
}



.buttons{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    width: calc(50vw);

}
.redButton{
    background-color:rgb(255, 0, 0);
    color: wheat;
width: 100%;
font-weight: 900;
box-shadow: 4px 4px 8px #000000,
inset 4px 4px 8px #ffffff,
4px 4px 10px #000000,
-4px -4px 10px #ffffff;
font-family: "Lalezar";
}
.redButton:hover{
    color:rgb(255, 0, 0);
    background-color: wheat;
width: 100%;
font-weight: 900;
transition: .4s;
}
.greenButton{
font-family: "Lalezar";

    background-color: green;
    color: wheat;
    width: 100%;
font-weight: 900;
width: 100%;
box-shadow: 4px 4px 8px #000000,
inset 4px 4px 8px #ffffff,
4px 4px 10px #000000,
-4px -4px 10px #ffffff;
}

.greenButton:hover{
    transition: .3s;
    color: green;
    background-color: wheat;
    width: 100%;
font-weight: 900;
width: 100%;
box-shadow: 4px 4px 8px #000000,
inset 4px 4px 8px #ffffff,
4px 4px 10px #000000,
-4px -4px 10px #ffffff;
}
.buttons a{
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 90px;
    background-color:rgba(163, 163, 163, 0.199);
    color: var(--surmeiTire);
    width: 100%;
    font-weight: 900;
    font-size: 1.3rem;
    box-shadow: 4px 4px 8px #000000,
    inset 4px 4px 8px #ffffff,
    4px 4px 10px #000000,
    -4px -4px 10px #ffffff;
}
.buttons a:hover{
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 90px;
    color:rgb(0, 68, 255);
    background-color: wheat;
    width: 100%;
    font-weight: 900;
    font-size: 1.3rem;
    box-shadow: 4px 4px 8px #000000,
    inset 4px 4px 8px #ffffff,
    4px 4px 10px #000000,
    -4px -4px 10px #ffffff;
    transition: .3s;
}
.resultsContainer{
    width: calc(90vw - 50px);
    box-shadow: var(--boxShadow);
    margin-inline: auto;
    backdrop-filter: blur(2px);
    border-radius: 30px;
    position: relative;
    top: 40px;
    text-align: center;
    overflow-y: scroll;
height: 10rem;
margin-top: -20px;
}
.numberOfFounds{
text-align: center;
color: var(--surmeiTire);
text-shadow: 0 0 5px #fff,
0 0 10px var(--surmeiRoshan);
position: relative;
top: -60%;
margin-inline: auto;
}
.resultsBox{
}
.resultsBox p{
    color: var(--surmeiTire);
    text-shadow: 0 0 5px #fff,
    0 0 10px var(--surmeiRoshan);
    font-size: 1.3rem;
    word-spacing: -2px;
    line-height: 1.3rem;
}
.RESULT{
    width: calc(50vw)!important;

}
/* Animations */
@keyframes wave{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25%);

    }
    100%{
        transform: translateX(50%);
    }

}
@-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}
@keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes shake {
        0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
        }
        20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
        }
}
@keyframes shake {
        0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
        }
        20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
        }
} 
